<html>

<head>
    <title><%= roomname %> - <%= nickname %> - XChess</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/room.css">
</head>

<body>

    <canvas id="map"></canvas>
    <div id="errMsg">？</div>
    <div class="right-bottom"><button id="byebye" type="button" class="btn btn-danger">投降</button></div>
    <div class="left-bottom"><button id="quit" type="button" class="btn btn-success">離開</button></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> var roomname = '<%= roomname %>', nickname = '<%= nickname %>'; </script>
    <script src="/javascripts/room.js"></script>
</body>

</html>